.custom-button {
  width: 128px;
  height: 32px;
  border: none;
  color: #ffffff;
  background-color: #ea7f28;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  /*transition: background-color .3s linear;*/
}
.custom-button:active {
  background-color: #d37324;
}
[disabled] {
  background: #ededed;
  color: #4a4a4a;
}
